/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.content {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "nav"
    "main";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

nav {
  grid-area: "nav";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav .title {
  font-size: 1rem;
}

nav .title .sub {
  font-weight: 400;
  opacity: 0.7;
  margin-left: 1rem;
}

nav.menu {
  height: 100%;
  padding: 0 0.5rem;
}

.button {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  background-color: #F2C94C;
  font-size: 0.8rem;
  text-decoration: none;
}

.main {
  grid-area: "main";
}
